# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
staticfiles/
*.egg-info/
dist/
.eggs/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/

# Vite
frontend/dist/
